{% extends 'base/base.html' %}

{% block content %}
      <div class="content">



        <div class="row">
          <div class="col-md-10">
            <div class="card">

            <form method="post" enctype="multipart/form-data">
              {% include 'includes/messages.html' %}
                <div class="form-group mb-3">
                    {% csrf_token %}
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        {{ formd.company_name }}
                    </div>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-hat-"></i></span>
                        </div>
                        {{ formd.joining_date }}
                    </div>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-"></i></span>
                      </div>
                      {{ formd.last_working_date }}
                  </div>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-">Click to upload your Employment Details</i></span>
                    </div>
                    {{ formd.upload_document }}
                </div>
                </div>
                
                <div class="text-center">
                    <input type="submit" class="btn btn-primary my-4" value="Upload">
                </div>
                
              </form>
              <a href="{% url 'edit' %}"><input type="submit" class="btn btn-primary my-4" value="Edit"></a>
            </div>
           </div>
        </div>
      </div>

{% endblock %}
