{% extends 'base/base.html' %}

{% block content %}
      <div class="content">



        <div class="row">
          <div class="col-md-10">
            <div class="card">

              <form method="POST">

                {% csrf_token %}
              {% include 'includes/messages.html' %}
                <div class="form-group mb-3">

                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    {{ form.username }}
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    {{ form.password }}
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                  <a href="{% url 'register_teacher' %}" class="form-control">Create an account!</a>
                </div>
              </form>

            </div>
          </div>
      </div>




      </div>


{% endblock %}
